<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FaultinfoMNG</title>
	<link rel="stylesheet" type="text/css" href="../ivue/styles/iview.css">
</head>
<body>
    <div id="app">
	<Row type="flex" :gutter="12">
		<i-col :md="11" :xs="24">
            <div width="100%">
            <Card shadow>
			<p slot="title">查询报障信息</p>
			<div id="query"></div>
			<div id="table"></div>
            </Card>
            </div>
		</i-col>
		<i-col :md="12" :xs="24">
			<div width="100%" id="detail"></div>
		</i-col>
	</Row>
    </div>
	<script type="text/javascript" src="../ivue/vue.min.js"></script>
    <script type="text/javascript" src="../ivue/iview.js"></script>
    <script>
        var wrapper={}
    	var query={
            template:`
            <Form :model="querydata" :label-width="80" inline>
            <FormItem label="台站:"><Input v-model="querydata.stationName"></Input></FormItem>
            <FormItem label="提交日期:"><DatePicker v-model="querydata.date" type="daterange" split-panels placeholder="选择起始结束日期"></DatePicker></FormItem>
            <FormItem label="报障方式:"><Input v-model="querydata.submittype"></Input></FormItem>
            <FormItem label="提交人姓名:"><Input v-model="querydata.submitBy.name"></Input></FormItem>
            <Button type="primary" @click="submit(querydata)">搜索</Button>
            </Form>
            `,
    		data:function(){
    			return{
    				querydata:{
                        stationName:"",
                        stationID:"",
                        submitdate:"",
                        startdate:"",
                        enddate:"",
                        submittype:"",
                        submitBy:{name:"",ID:""}
    				}
    			}
    		},
            methods:{
                submit(data){
                    console.log(data)
                }
            }
    	}
    	var table={
            template:`<div>
                      <Table border stripe :columns="columns" highlight-row :data="data"></Table>
                      </div>`,
    		data:function(){
    			return{
                    columns:[
                    {title:'序号',key:''},
                    {title:'编号',key:''},
                    {title:'报障台站号',key:''},
                    {title:'状态',key:''},
                    {title:'提交人',key:''},
                    {title:'提交时间',key:''},
                    ],
                    data:[]

                }
            }
        }
    	var detail={
            template:`<div>
            <Card shadow>
                <p slot="title">报障信息</p>
                <p>报障方式: {{detaildata.reportmethod}}</p>
                <p><Row>
                <Col span="8">编号：{{detaildata.id}}</Col>
                <Col span="8">台站号：{{detaildata.stationID}}</Col>
                <Col span="8">台站名：{{detaildata.stationName}}</Col>
                </Row></p>
                <p><div width="100%" id="container">{{detaildata.coordinate}}</div></p>
                <p>地址：{{detaildata.address}}</p>
                <p>站点类型：{{detaildata.stationtype}}</p>
                <p>故障现象描述：{{detaildata.description}}</p>
                <p>故障类型：{{detaildata.faulttype}}</p>
                <p>故障分析(可能原因、部位)：{{detaildata.analyze}}</p>
                <p>维修工具、备件：{{detaildata.tools}}</p>
                <p>维护时间要求：{{detaildata.timedemand}}</p>
                <p>备注：{{detaildata.note}}</p>
                <p><Row>
                <Col span="12">提交人员：{{detaildata.submitBy}}</Col>
                <Col span="12">提交时间：{{detaildata.submittime}}</Col>
                </Row></p>
            </Card>
            </div>`,
    		data:function(){
    			return{
                    detaildata:{
                        reportmethod:"",
                        upgradedata:{by:"",date:"",upgradefrom:""},
                        id:"",
                        stationID:"",
                        stationName:"",
                        coordinate:"",
                        address:"",
                        stationtype:"",
                        description:"",
                        faulttype:"",
                        analyze:"",
                        tools:"",
                        timedemand:"",
                        note:"",
                        submitBy:"",
                        submittime:"",
                        photograph:"",
                    }
    			}
    		}
    	}
        Wrapper=Vue.extend(wrapper)
        Query=Vue.extend(query)
        Table=Vue.extend(table)
        Detail=Vue.extend(detail)
        new Wrapper().$mount('#app')
        new Query().$mount('#query')
        new Table().$mount('#table')
        new Detail().$mount('#detail')

    </script>
</body>
</html>