<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>维护单</title>
	<link rel="stylesheet" type="text/css" href="../ivue/styles/iview.css">
	<style>
			.doc-header-con{
				text-align: center;
				h3{
					margin:10px 0;
				}
			}
			.doc-form{
				padding-bottom:10px;
				border-bottom: 1px solid;
				border-color:#dbdddf;
				margin-bottom:20px;
			}
		}
	</style>
</head>
<body>
	<div id="main"></div>
	<script type="text/javascript" src="../ivue/vue.min.js"></script>
<script type="text/javascript" src="../ivue/iview.js"></script>
<script>
	var main={
		template:`<div>
		<Card>
		<div class="doc-header-con">
		<h3>维护单信息</h3>
		</div>
		<Form class="doc-form" :model="documentdata" :label-width="80" label-position="left">
		<FormItem prop="reportedOrg" label="报障气象局: ">
            <Select v-model="documentdata.reportedOrg">
              <Option v-for="item in orgList" :value="item.label">{{item.label}}</Option>
            </Select>
          </FormItem>

          <FormItem prop="stationName" label="气象站台站: ">
            <Select v-model="documentdata.stationName">
              <Option v-for="item in stationList" :value="item.label">{{item.label}}</Option>
            </Select>
          </FormItem>

          <FormItem prop="inspectionPlan" label="巡检方案: ">
            <Select v-model="documentdata.inspectionPlan">
              <Option v-for="item in planList" :value="item.label">{{item.label}}</Option>
            </Select>
          </FormItem>

          <FormItem prop="maintenanceCostSum" label="总维护价格: ">
            <Input type="text"></Input>
          </FormItem>

          <FormItem prop="point" label="维修积分: ">
            <Input type="text"></Input>
          </FormItem>

          <FormItem prop="confirmMode" label="确认模式: ">
            <radio-group v-model="documentdata.confirmMode">
                        <Radio label="automatic">自动确认</Radio>
                        <Radio label="manualbyoperator">管理人员确认</Radio>
            </radio-group>
          </FormItem>

          <FormItem prop="maintenanceTimeLimit" label="维护完成时限: ">
            <Slider v-model="documentdata.maintenanceTimeLimit" max="96" show-input :tip-format="format"></Slider>
          </FormItem>

          <FormItem prop="maintenanceCategory" label="维护类别: ">
            <Select v-model="documentdata.maintenanceCategory">
              <Option v-for="item in categorylist" :value="item.label">{{item.label}}</Option>
            </Select>
          </FormItem>

          <FormItem prop="maintenanceCategory" label="任务级别: ">
            <Select v-model="documentdata.maintenanceCategory">
              <Option v-for="item in tasklevellist" :value="item.label">{{item.label}}</Option>
            </Select>
          </FormItem>

          <FormItem v-if="documentdata.maintenanceCategory=='维修'" prop="maintenancedoc" label="报障单编号: ">
            <Input type="text" v-model="documentdata.maintenancedoc"></Input>
          </FormItem>

          <FormItem prop="description" label="故障描述: ">
            <Input type="textarea" v-model="documentdata.description"></Input>
          </FormItem>

          <FormItem prop="note" label="备注: ">
            <Input type="textarea" v-model="documentdata.note"></Input>
          </FormItem>
		</Form>
		<p>当前正在进行第 {{ current + 1 }} 步</p>
		<Steps :current="current">
		<Step v-for="item in steplist" :title="item.title"></Step>
		</Steps>
		<Button type="primary" @click="next">Next step</Button>
		</Card>
		</div>`,
		data(){
			return{
				current:0,
				steplist:[],
				orgList:[],
				stationList:[],
				planList:[],
                categorylist:[],
                tasklevellist:[],
				documentdata:{
					documentID:"",
					reportedOrg:"",
					stationName:"",
					inspectionPlan:"",
					documentstatus:"status2",
					maintenanceCostSum:0,
					point:0,
					confirmMode:"",
					maintenanceTimeLimit:"",
					maintenanceCategory:"",
					taskLevel:"",
					description:"",
					note:"",
					maintenancedoc:""},
					hasSubmit:false,
					currentstep:0,
					status:"wait"
				}
				
		},
		methods: {
            next () {
                if (this.current == 6) {
                    this.current = 0;
                } else {
                    this.current += 1;
                }
            },
            format (val) {
            day=Math.floor(val/24);
            hr=val%24;
                return day + ' 天 '+hr+' 小时';
            },
        },
	    mounted(){
	    	this.steplist=[
	    	{title:"待审核"},{title:"待发布"},{title:"已发布"},{title:"处理中"},{title:"提交中"},{title:"已提交"},{title:"完成"},
	    	];
	    	this.orgList=[{
                value: 'New York',
                label: 'New York'
            },
            {
                value: 'London',
                label: 'London'
            },];
            this.stationList=[{
                value: 'New York',
                label: 'New York'
            },
            {
                value: 'London',
                label: 'London'
            },];
            this.planList=[
            {value:'plan1',label:'计划1'},
            {value:'plan2',label:'计划2'},
            {value:'plan3',label:'计划3'},
            {value:'plan4',label:'计划4'},
            ];
            this.categorylist=[
            {value:'cat1',label:'标定'},
            {value:'cat2',label:'维护'},
            {value:'cat3',label:'维修'},]
            this.tasklevellist=[
            {value:'level1',label:'一级'},
            {value:'level2',label:'二级'},
            {value:'level3',label:'三级'},
            {value:'level4',label:'四级'},]
	    }
	}
	var MainModule=Vue.extend(main)
	new MainModule().$mount('#main')
</script>
</body>
</html>