<div>        
        <Modal scrollable='true' v-model='modal1' title="新增维护单" :closable="false" :mask-closable="false" @on-ok="ok(maintenanceDocumentinfo)" @on-cancel="cancel">
            <i-form :model="maintenanceDocumentinfo" label-position="left" :label-width="80" :rules="ruleValidate">

                <FormItem label="报障气象局:">
                    <Select v-model="maintenanceDocumentinfo.reportedOrg" style="width:200px">
                        <Option v-for="item in orgList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                    </Select>
                </FormItem>

                <FormItem prop="stationName" label="气象站台站:">
                    <Select v-model="maintenanceDocumentinfo.stationName" style="width:200px">
                        <Option v-for="item in stationList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                    </Select>
                </FormItem>
                
                <FormItem prop="inspectionPlan" label="巡检方案:">
                    <Select v-model="maintenanceDocumentinfo.inspectionPlan" style="width:200px">
                        <Option v-for="item in planList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                    </Select>
                </FormItem>

                <Row :gutter="16">
                <Col span="7">
                <FormItem label='总维护价格:'>
                    <Input type="text" v-model="maintenanceDocumentinfo.maintenanceCostSum">
                </FormItem>
                </Col>
                <Col span="7">
                <FormItem label='维修积分:'>
                    <Input type="text" v-model="maintenanceDocumentinfo.point">
                </FormItem>
                </Col>
                </Row>

                <FormItem label='确认方式:'>
                    <RadioGroup v-model="maintenanceDocumentinfo.confirmMode">
                        <Radio label="automatic">自动确认</Radio>
                        <Radio label="manualbyoperator">管理人员确认</Radio>
                    </RadioGroup>
                </FormItem>

                <FormItem label='完成时限:'>
                    <Slider v-model="maintenanceDocumentinfo.maintenanceTimeLimit" max="96" show-input :tip-format="format"></Slider>
                </FormItem>

                <Row :gutter="16">
                <Col span="12">
                <FormItem label='维护类别:'>
                    <Select v-model="maintenanceDocumentinfo.maintenanceCategory" style="width:100px">
                        <Option v-for="item in categorylist" :value="item.value" :key="item.value">{{ item.label }}</Option>
                    </Select>
                </FormItem>
                </Col>
                <Col span="12">
                <FormItem label='任务级别:'>
                    <Select v-model="maintenanceDocumentinfo.taskLevel" style="width:100px">
                        <Option v-for="item in tasklevellist" :value="item.value" :key="item.value">{{ item.label }}</Option>
                    </Select>
                </FormItem>
                </Col>
                </Row>

                <FormItem prop="description" label='故障描述:'>
                    <Input v-model="maintenanceDocumentinfo.description" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="请描述故障"></Input>
                </FormItem>
            </i-form>
        </Modal>
    </div>   