<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>我去修管理后台 - woquxiu.cn</title>
<link rel="stylesheet" type="text/css" href="../ivue/styles/iview.css">
<script type="text/javascript" src="../ivue/vue.min.js"></script>
<script type="text/javascript" src="../ivue/iview.js"></script>
<style>
<style>
        html,body{
            height: 100%;
        }
        .tab1{width:100%;}
        .treecontainer{
            width:15%;
        }
        .ivu-tabs{
          overflow: visible;
        }

</style>
</head>
<body>    
<div class="app" id="app">
               <tabs value="tab1">
                  <tab-pane label="系统操作员管理" name="tab1" class="tab1">
                 <template>
                  <div class="col2" id="col2">
                  </div>
                </template>
			      </tab-pane>
                              <tab-pane label="系统操作日志查询" name="tab2">标签二的内容</tab-pane>
                              <tab-pane label="管理端公告管理" name="tab3">标签三的内容</tab-pane>
		              <tab-pane label="APP端公告管理" name="tab4">标签二的内容</tab-pane>
                              <tab-pane label="代维报告模板管理" name="tab5">标签三的内容</tab-pane>
			      <tab-pane label="故障分类信息管理" name="tab6">标签二的内容</tab-pane>
                </tabs>
</div>
<script>
    var form1 ={
        template:`
           <Form ref="querycontents" :model="querycontents" label-position="left" :label-width="60" inline>
                        <FormItem prop="id" label="所属机构">
                          <Input type="text" v-model="querycontents.id" placeholder="请输入用户编码">
                          </Input>
                        </FormItem>
                        <FormItem prop="id" label="用户编码">
                          <Input type="text" v-model="querycontents.id" placeholder="请输入用户编码">
                          </Input>
                        </FormItem>
                        <FormItem prop="pid" label="身份证号">
                          <Input type="text" v-model="querycontents.pid" placeholder="请输入身份证号">
                          </Input>
                        </FormItem>
                        <FormItem prop="phonenumber" label="手机号码">
                          <Input type="text" v-model="querycontents.phonenumber" placeholder="请输入手机号码">
                          </Input>
                        </FormItem>
                        <FormItem prop="name" label="姓名">
                          <Input type="text" v-model="querycontents.name" placeholder="请输入姓名">
                          </Input>
                        </FormItem>
                        <FormItem prop="oplevel" label="操作等级">
                          <Select v-model="querycontents.oplevel">
                            <Option value="1">一级</Option>
                            <Option value="2">二级</Option>
                            <Option value="3">三级</Option>
                            <Option value="4">四级</Option>
                          </Select>
                        </FormItem>
                        <FormItem>
                            <Button type="primary" @click="handleSubmit(querycontents)">搜索</Button>
                        </FormItem>
                      </Form>
           `,
    data:function(){
        return{
           
           querycontents:{
            id:"",
            pid:"",
            phonenumber:"",
            name:"",
            oplevel:""
           }
        }
    },
    methods:{
        handleSubmit(data){
            console.log(data);
        }
    }
}
    var Main = {
        data: function () {
            return {
				rawHtml:"<span style='color:red'>嗯哼！</span>",
				Treedata:[
                    {
                        title: 'parent 1',
                        expand: true,
                        children: [
                            {
                                title: 'parent 1-1',
                                expand: true,
                                children: [
                                    {
                                        title: 'leaf 1-1-1'
                                    },
                                    {
                                        title: 'leaf 1-1-2'
                                    }
                                ]
                            },
                            {
                                title: 'parent 1-2',
                                expand: true,
                                children: [
                                    {
                                        title: 'leaf 1-2-1'
                                    },
                                    {
                                        title: 'leaf 1-2-1'
                                    }
                                ]
                            }
                        ]
                    }
                ],
				
            }
        },
        
        mounted: function () {

        }
    }
    var Form1 = Vue.extend(form1)
    var Component = Vue.extend(Main)
    new Component().$mount('#app')
    new Form1().$mount('#col2')
</script>
</body>
</html>