<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>维护单管理</title>
	<link rel="stylesheet" type="text/css" href="../ivue/styles/iview.css">
    <style>
    .ivu-select-dropdown{
        max-height:300px ;
    }
    [v-cloak] {
        display: none;
    }

</style>
</head>
<body>
	<div v-cloak id="data" style="background:#eee;padding: 10px;margin-bottom: 20px">
                                <Row class="info" >
                                    <i-col :lg="3" :sm="6" v-for="item in indexdata">
                                        <div style="background:#eee;padding: 10px" >
                                            <Card :bordered="false" v-bind:name="item.name" @click.native="showclickedcard(item.name)">
                                                <p slot="title" style="text-align:center">{{item.title}}</p>
                                                <p style="text-align:center">{{item.sum}}</p>
                                            </Card>
                                        </div>
                                    </i-col>
                                </Row>
    </div>
	<div v-cloak id="resulttable" >
        <i-table ref="documenttable" style="margin-top:20" @on-current-change="holdclickedrow" ref="currentRowTable" highlight-row stripe :columns="tableheader" :data="tabledata">
        </i-table>
        <br>
        <i-button type="primary" @click="modal1 = true"><Icon type="ios-download-outline"></Icon> 导出表格数据</i-button>
        <i-button type="primary" @click="modal2 = true"><Icon type="plus"></Icon> 新增维护单</i-button>
        <i-button type="primary" @click="showData()" disabled id="observebtn"><Icon type="search"></Icon> 条目明细</i-button>
        <Modal
        v-model="modal1"
        title="确认操作"
        @on-ok="ok"
        @on-cancel="cancel">
        <p>确定要将表格内容下载至本地么？</p>
        </Modal>

    </div>
    <div id="resultdetail"></div>
<script type="text/javascript" src="../ivue/vue.min.js"></script>
<script type="text/javascript" src="../ivue/iview.js"></script>
<script>

   var visibledata={
    data:function(){
        return{indexdata:[
                {name:"total",title:"维护单总数",sum:"9776"},
                {name:"waitforauth",title:"待审核",sum:"1"},
                {name:"waitforpublish",title:"待发布",sum:"811"},
                {name:"published",title:"已发布",sum:"0"},
                {name:"processing",title:"处理中",sum:"0"},
                {name:"submitting",title:"提交中",sum:"27"},
                {name:"submitted",title:"已提交",sum:"15"},
                {name:"finished",title:"已完成",sum:"8922"},
               ]} 
            
    },
    methods:{
    showclickedcard(data){
            console.log(data);
        },
    }
   }

   var queryform={
      template:`<Form ref="querycontents" :model="querycontents" label-position="left" :label-width="80" inline>
      <FormItem prop="stationID" label="台站编号">
      <Input type="text" v-model="querycontents.stationID" placeholder="请输入台站编号">
      </Input>
      </FormItem>
      <FormItem prop="stationName" label="台站名">
      <Input type="text" v-model="querycontents.stationName" placeholder="请输入台站名">
      </Input>
      </FormItem>
      <FormItem prop="staffName" label="维护人姓名">
      <Input type="text" v-model="querycontents.staffName" placeholder="请输入维护人姓名">
      </Input>
      </FormItem>
      <FormItem prop="submittedby" label="提交人姓名">
      <Input type="text" v-model="querycontents.submittedby" placeholder="请输入提交人姓名">
      </Input>
      </FormItem>
      <FormItem prop="startDate" label="起始日期">
      <DatePicker type="date" placeholder="选择起始日期" v-model="querycontents.startDate"></DatePicker>
      </FormItem>
      <FormItem prop="endDate" label="结束日期">
      <DatePicker type="date" placeholder="选择结束日期" v-model="querycontents.endDate"></DatePicker>
      </FormItem>
      <FormItem prop="documentID" label="维护单编号">
      <Input type="text" v-model="querycontents.documentID" placeholder="维护单编号">
      </Input>
      </FormItem>
      <FormItem prop="documentstatus" label="状态">
      <Select v-model="querycontents.documentstatus">
      <Option value="1">待审核</Option>
      <Option value="2">待发布</Option>
      <Option value="3">已发布</Option>
      <Option value="4">处理中</Option>
      <Option value="5">提交中</Option>
      <Option value="6">已提交</Option>
      <Option value="7">完成</Option>
      </Select>
      </FormItem>
      <Button type="primary" @click="handleSubmit(querycontents)">搜索</Button>
      </Form>`,
      data:function(){
       return{
        querycontents:{
         stationID:"",
         stationName:"",
         startDate:"",
         endDate:"",
         documentID:"",
         documentstatus:"",
         staffName:"",
         submittedby:""
     }
 }
},
methods:{
   handleSubmit(data){
    console.log(data);
},

}
}

var resulttable={
    data:function(){
        return{
            observeactive:true,
            modal1:false,
            modal2:false,
            showdetail:false,
            loading: true,
            modal2title:"新增维护单",
            selectedrow:"",
            tableheader:[
            {title:"台站",key:"stationName"},
            {title:"维护人员姓名",key:"staffName"},
            {title:"状态",key:"documentstatus"},
            {title:"计划开始时间",key:"startTime"},
            {render:(h,params)=>{
              return h('div',[
                h('button',{
                props:{
                  type:'primary',
                  size:'small'
                },
                on:{
                  click:()=>{
                    this.show(params.index)
                  }
                }
              },"查看"),
              h('button',
              {
                props:{
                  type: 'error',
                  size: 'small'
                },on: {
                  click: () => {
                    this.remove(params.index)
                  }
                }},"删除")])
            }}
            ],
            tabledata:[
            {No:1,staffName:"A",stationName:"三洞齐洪水库站",documentstatus:"待发布",startTime:"2018-05-10 12:00:48"},
            {No:2,staffName:"B",stationName:"三洞齐洪水库站",documentstatus:"待发布",startTime:"2018-05-10 12:00:48"},
            {No:3,staffName:"C",stationName:"三洞齐洪水库站",documentstatus:"待发布",startTime:"2018-05-10 12:00:48"},
            {No:4,staffName:"D",stationName:"三洞齐洪水库站",documentstatus:"待发布",startTime:"2018-05-10 12:00:48"},
            ],
            newMaintenanceDocument:{
                documentID:"",
                reportedOrg:'New York',
                stationName:"",
                inspectionPlan:"",
                documentstatus:"status2",
                maintenanceCostSum:30,
                point:2,
                confirmMode:"",
                maintenanceTimeLimit:"",
                maintenanceCategory:"",
                taskLevel:"",
                description:"",
                note:"",
                maintenancedoc:""
            },
            maintenanceDocumentinfo:{
                documentID:"",
                reportedOrg:"",
                stationName:"",
                inspectionPlan:"",
                documentstatus:"status2",
                maintenanceCostSum:0,
                point:0,
                confirmMode:"",
                maintenanceTimeLimit:"",
                maintenanceCategory:"",
                taskLevel:"",
                description:"",
                note:"",
                maintenancedoc:""
            },

            orgList:[
            {
                value: 'New York',
                label: 'New York'
            },
            {
                value: 'London',
                label: 'London'
            },
            {
                value: 'Sydney',
                label: 'Sydney'
            },
            {
                value: 'Ottawa',
                label: 'Ottawa'
            },
            {
                value: 'Paris',
                label: 'Paris'
            },
            {
                value: 'Canberra',
                label: 'Canberra'
            }
            ],
            stationList:[
            {
                value: 'New York',
                label: 'New York'
            },
            {
                value: 'London',
                label: 'London'
            },
            {
                value: 'Sydney',
                label: 'Sydney'
            },
            {
                value: 'Ottawa',
                label: 'Ottawa'
            },
            {
                value: 'Paris',
                label: 'Paris'
            },
            {
                value: 'Canberra',
                label: 'Canberra'
            }
            ],
            planList:[
            {value:'plan1',label:'计划1'},
            {value:'plan2',label:'计划2'},
            {value:'plan3',label:'计划3'},
            {value:'plan4',label:'计划4'},
            ],
            categorylist:[
            {value:'cat1',label:'标定'},
            {value:'cat2',label:'维护'},
            {value:'cat3',label:'维修'},],
            tasklevellist:[
            {value:'level1',label:'一级'},
            {value:'level2',label:'二级'},
            {value:'level3',label:'三级'},
            {value:'level4',label:'四级'},],
            ruleValidate:{
              stationName:[{required:true,message:"请选择气象站台站",trigger:'change'}],
              inspectionPlan:[{required:true,message:"请选择巡检方案",trigger:'change'}],
              description:[{required:true,message:'请描述故障',trigger:'blur'}],
              maintenanceCostSum:[{type:"number",message:"请输入正确的金额",trigger:"change"}]
            }

        }
    },
    methods:{

        holdclickedrow(data){
            selectedrow=data;
            document.getElementById('observebtn').removeAttribute('disabled');
            console.log(selectedrow);
        },
        exportData(){
            this.$refs.currentRowTable.exportCsv({
                filename: '维护单信息'
            });
        },
        newData(){
            console.log(modal1);
            modal1=true;
        },
        showData(){
                this.showdetail=true
        },
        format (val) {
            day=Math.floor(val/24);
            hr=val%24;
                return day + ' 天 '+hr+' 小时';
            },
        ok(data){
            console.log(data);
            this.$refs.documenttable.exportCsv({filename:"维护单列表.csv"})
        },
        cancel(){

        },
        changeLoading() {
            this.loading = false;
            this.$nextTick(() => {
              this.loading = true;
            });
          },
        submitnewdocument(){
                this.$refs.documentform.validate((valid) => {
                    if (valid) {
                      this.modal2=false;
                      console.log(this.$data.newMaintenanceDocument);
                      this.$refs.documentform.resetFields();
                    } else {
                      
                    }
                })  
        },
        abandoneditting(){
          this.modal2=false;
          this.$refs.documentform.resetFields();
        },
        quit(){
          this.modal2=false;
          this.$refs.documentform.resetFields();
        }
        
    }
}

var Queryform = Vue.extend(queryform)
var ResultTable = Vue.extend(resulttable)
var Visibledata =Vue.extend(visibledata)
new ResultTable().$mount('#resulttable')
new Queryform().$mount('#queryform')
new Visibledata().$mount('#data')
</script>
</body>
</html>